{% extends "main.html" %}
{% block content %}
  {% include "header.html" %}
  <div class="container">
    <h1>Contact Us</h1>
    
    <div class="section">
      <div class="section_heading"><h2>👥 Our Contact Information</h2></div>
      <div class="section_content">
        <ul class="social_links"> 
          <li><p>📮 Email: info@company.com</p></li>
          <li><p>📞 Phone: +1234567890</p></li>
          <li><p>🏣 Address: 123 Street, City, Country</p></li>
        </ul>
     </div>
    </div>
    
    
  </div>
{% endblock content %}